.calculator {
  display: grid;
  grid-template-columns: repeat(4, 3.57rem);
  grid-template-rows: 3rem 3rem 3rem 3rem 3rem 3rem;
  grid-template-areas:
    "current current current current"
    "backspace clear modulo divide"
    "num7 num8 num9 multiply"
    "num4 num5 num6 minus"
    "num1 num2 num3 plus"
    "negative num0 period equal";
  color: white;
  position: absolute;
  top: 25%;
  left: 20%;
  border-top: 1px solid #626260;
  border-left: 1px solid #626260;
  border-right: 0.5px solid #626260;
  border-bottom: 1px solid #626260;
  font-family: "Lato", sans-serif;
  justify-items: stretch;
}
.background {
  background-size: cover;
}

h1 {
  text-align: end;
}

body {
  background: url(../images/Background.jpeg);
  background-size: cover;
  align-content: center;
}
.display {
  text-align: right;
  background-color: #626260;
  user-select: none;
  font-size: 32px;
  justify-self: stretch;
}
.button {
  background-color: #bdc5ca;
  text-align: center;
  align-self: stretch;
  border-top: 1px solid #626260;
  border-right: 1px solid #626260;
  padding-top: 14px;
}
.orange {
  background-color: #f49527;
  font: 27px;
}
.dark-grey {
  background-color: #696968;
}
.light-grey {
  background-color: #7a7977;
}
/*Calculator Start*/

.current {
  grid-area: current;
}
.clear {
  grid-area: clear;
}
.negative {
  grid-area: negative;
}
.modulo {
  grid-area: modulo;
}
.divide {
  grid-area: divide;
}
.multiply {
  grid-area: multiply;
}
.plus {
  grid-area: plus;
}
.minus {
  grid-area: minus;
}
.equal {
  grid-area: equal;
}
.period {
  grid-area: period;
}

.num0 {
  grid-area: num0;
}
.num1 {
  grid-area: num1;
}
.num2 {
  grid-area: num2;
}
.num3 {
  grid-area: num3;
}
.num4 {
  grid-area: num4;
}
.num5 {
  grid-area: num5;
}
.num6 {
  grid-area: num6;
}
.num7 {
  grid-area: num7;
}
.num8 {
  grid-area: num8;
}
.num9 {
  grid-area: num9;
}
/*Calculator Start*/
